<div id="<%= dom_id author %>">

  <p>
    <strong>Books:</strong>
    <%= author.books_id %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Number of books:</strong>
    <%= author.number_of_books %>
  </p>

</div>
